.signupNav {
    background: none;
    color: white;
    border: none;
    padding: 0 20px;
    height: 100%;
    border-right: 1px solid black;
}

.signupNav:hover {
    color: #FFDE59;
    cursor: pointer;
}