nav {
    display: flex;
    background: black;
    justify-self: center;
    width: 1240px;
    align-items: center;
    height: 46px;
    margin: auto;
    border-bottom: 2px solid black;
}

.nav-dark {
    width: 100%;
    height: 46px;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

.container {
    padding: 0;
    height: 100%;
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.loginSignup {
    height: 46px;
    border-left: 1px solid black;
}

.logo {
    position: relative;
    justify-self: flex-start;
    height: 100%;
    padding: 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

img{
    height: 100%;
}