nav {
    display: flex;
    background-color: #333333;
    width: 100%;
    align-items: center;
    height: 46px;
}

.container {
    margin: 0 20%;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginSignup {
    height: 46px;
    border-left: 1px solid black;
}

.logo {
    position: relative;
    justify-self: flex-start;
    height: 100%;
    padding: 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

img{
    height: 100%;
}